# h1 Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- SQL
- Rstudio
- Hadoop
- Spark

Some of the popular language that Data Scientists use are:
1. Python
2. R
3. SQL

Some of commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Mathplotlab
4. TensorFlow
5. Pytorch
6. Scikit
7. Seaborn

|Data Science Tools|
|------------------|
|Jupyter Notebook  |
|RStudio           |
|Hadoop            |
|Appache Spark     |

### Below are a few examples of evaluationg arithmetic expressions in Python

In [8]:
#this is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minuteto hours by diving by 60.
min = 200
hours = min/60
print(hours)

3.3333333333333335

## Author
Abdul Rauf Mirzayee